.header {
  background-color: brown;
  padding: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 3px;
  background-size: cover;
}

.main {
  background-color: rgb(198, 94, 94);
  padding: 20px;
  margin-top: 5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 3px;
  background-size: cover;
}

.footer {
  background-color: lightcoral;
  padding: 20px;
  margin-top: 5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-size: cover;
}